<p id="notice"><%= notice %></p>

<h1>Brains</h1>

<table>
  <thead>
    <tr>
      <th>Sabor</th>
      <th>Coheficiente intelectual</th>
      <th>Frescura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brains.each do |brain| %>
      <tr>
        <td><%= brain.flavor %></td>
        <td><%= brain.iq %></td>

        <td>
        <% if brain.fresh %>
          <%= image_tag "brains/TrueBrain.png", class:'brain_fresh' %>

        <% else %>
          <%= image_tag "brains/FalseBrain.png", class:'brain_fresh' %>
        
         <% end %>
              

        </td>

        <td><%= link_to 'Mostrar', brain %></td>
        <td><%= link_to 'Editar', edit_brain_path(brain) %></td>
        <td><%= link_to 'Eliminar', brain, method: :delete, data: { confirm: 'Tas seguro, vato?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo cerebro', new_brain_path %>
