<%= form_with(model: zombie, local: true) do |form| %>
  <% if zombie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zombie.errors.count, "error") %> prohibited this zombie from being saved:</h2>

      <ul>
      <% zombie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="field column small-3">
    <%= form.label :name %>
    <%= form.text_field :name, id: :zombie_name %>
  </div>

  <div class="field column small-5">
    <%= form.label :bio %>
    <%= form.text_area :bio, id: :zombie_bio %>
  </div>

  <div class="field column small-1">
    <%= form.label :age %>
    <%= form.number_field :age, id: :zombie_age %>
  </div>

  <div class="field column small-2">
    <%= form.label :email %>
    <%= form.text_field :email, id: :zombie_email %>
  </div>

  <div class="field column small-1">
    <%= form.label :rotten %>
    <%= form.check_box :rotten, id: :zombie_rotten %>
  </div>

  <div>
    <%= form.submit class: "button success radius"  %>
  </div>
</div>
<% end %>
