<p id="notice"><%= notice %></p>

<h1 class="top-bar">Zombies</h1>

<div class="icon-bar five-up">
  <a class="item">
    <img src="../assets/img/images/fi-home.svg" >
    <label>Home</label>
  </a>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>Email</th>
      <th>Rotten</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zombies.each do |zombie| %>
      <tr>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        <td><%= zombie.rotten ? "yes":"no" %></td>
        <td><%= link_to 'Mostrar', zombie %></td>
        <td><%= link_to 'Editar', edit_zombie_path(zombie) %></td>
        <td><%= link_to 'Eliminar', zombie, method: :delete, data: { confirm: 'Estas seguro de eliminar este zombie?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo zombie', new_zombie_path %>
