<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Biografia:</strong>
  <%= @zombie.bio %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @zombie.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @zombie.email %>
</p>

<p>
  <strong>Podrido:</strong>
  <%= @zombie.rotten %>
</p>

<div id="brains">
  <%= render :partial => @zombie.brains.reverse%>
</div>


<%= form_for([@zombie, Brain.new], remote: true) do |f| %>

<div class="field">
  <%= f.label :flavor %>
  <%= f.text_field :flavor %>
</div>

<div class="field">
  <%= f.label :iq %>
  <%= f.text_field :iq %>
</div>

<div class="field">
  <%= f.label :fresh %>
  <%= f.text_field :fresh %>
</div>

<p><%= f.submit "Añadir cerebro", class: "button success" %></p>
<% end%>

<%= link_to 'Editar', edit_zombie_path(@zombie) %> |
<%= link_to 'Regresar', zombies_path %>
